@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@200;400;700&family=Zen+Kurenaido&display=swap');

body {
    background-color: var(--bg);
    font-family: 'Saira Condensed', sans-serif;
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}

/* ul, li{
    list-style-type: none;
} */


:root {
    --bg: #F4F4F4;
    --shadow: #242323;
    --light-shadow: #2423234d;
    --white: #fff;
    --link: #035980;
    
  }